name: Build and Push Docker Image to GCR

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
      
env:
  PROJECT_ID: bespin-mhpark-dev
  IMAGE_NAME: testweb
  IMAGE_TAG: v1
  DOCKERFILE_PATH: ./Dockerfile
  SERVICE_ACCOUNT_EMAIL: git-action@bespin-mhpark-dev.iam.gserviceaccount.com
  
  
jobs:
  build_and_push:
    permissions:
      id-token: write
      contents: read
  
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout source code
      uses: 'actions/checkout@v3'
      
    - name: Delete existing credentials file
      run: rm -f /home/runner/work/web_wif/web_wif/*.json
      
    - id: 'auth'
      name: 'Authenticate to Google Cloud'
      uses: 'google-github-actions/auth@v1'
      with:
#        token_format: 'access_token'
        create_credentials_file: true
        workload_identity_provider: 'projects/323044112454/locations/global/workloadIdentityPools/github-action-pool/providers/github-action-provider'
        service_account: 'git-action@bespin-mhpark-dev.iam.gserviceaccount.com'     

    - name: Configure Docker client
      run: |
         gcloud auth activate-service-account ${{ env.SERVICE_ACCOUNT_EMAIL }} --key-file=${{ steps.auth.outputs.credentials_file }}
         gcloud auth configure-docker -q

#     - name: Login to GCR
#       uses: docker/login-action@v1
#       with:
#         registry: gcr.io
#         username: _json_key
#         password: ${{ steps.google-auth.outputs.credentials_file }}
        
    - name: Build and push Docker image
      uses: docker/build-push-action@v2
      with:
        context: .
        push: true
        tags: gcr.io/${{ env.PROJECT_ID }}/${{ env.IMAGE_NAME }}:${{ env.IMAGE_TAG }}
        
#     - name: Build and push Docker image
#       env:
#         PROJECT_ID: ${{ env.PROJECT_ID }}
#         IMAGE_NAME: ${{ env.IMAGE_NAME }}
#         IMAGE_TAG: latest
#       run: |
#         docker build -t gcr.io/${{ env.PROJECT_ID }}/${{ env.IMAGE_NAME }}:${{ env.IMAGE_TAG }} .
#         gcloud docker -- push gcr.io/${{ env.PROJECT_ID }}/${{ env.IMAGE_NAME }}:${{ env.IMAGE_TAG }}
